[user]
	name = Darren White
	email = darrenswhite95@gmail.com
[core]
	editor = vi
	autocrlf = input
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autoStash = true
[alias]
	a = add
	ai = add -i
	ap = add -p
	b = branch
	ba = branch -a
	bd = branch -d
	bD = branch -D
	bn = symbolic-ref --short HEAD
	c = commit -v
	ca = commit -av
	cm = commit -v --amend
	cam = commit -av --amend
	cmn = commit --amend --no-edit
	camn = commit -a --amend --no-edit
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	d = diff
	dc = diff --cached
	ds = diff --stat
	f = fetch -p
	g = grep
	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	m = merge
	p = push
	q = pull
	r = rebase
	rv = "!f() { git push ${1:-origin} HEAD:refs/for/${2-:$(git bn)} }; f"
	s = status -bs
