Xft.dpi:                    192

urxvt.font:                 xft: Terminus:autohint=true:antialias=true:size=12
urxvt.boldFont:             xft: Terminus:autohint=true:antialias=true:size=12:weight=bold
urxvt.depth:                32
urxvt.background:           [70]#000000
urxvt.foreground:           #ffffff
urxvt.scrollBar:            false
urxvt.fading:               15
urxvt.fadeColor:            #000000
urxvt.cursorBlink:          true
urxvt.cursorUnderline:      true
urxvt.keysym.Home:          \033[1~
urxvt.keysym.End:           \033[4~
urxvt.keysym.Control-Up:    \033[1;5A
urxvt.keysym.Control-Down:  \033[1;5B
urxvt.keysym.Control-Left:  \033[1;5D
urxvt.keysym.Control-Right: \033[1;5C
urxvt.perl-ext-common:      default,matcher
urxvt.url-select.launcher:  /usr/bin/xdg-open
urxvt.url-select.underline: true
urxvt.matcher.button:       1
urxvt.saveLnes:             65535
urxvt.scrollTtyOutput:      false
urxvt.scrollTtyKeypress:    true
urxvt.scrollWithBuffer:     false

rofi.combi-modi: window,drun,ssh
rofi.modi:       combi
rofi.font:       terminus 12
rofi.dpi:        192
rofi.theme:      /usr/share/rofi/themes/Monokai.rasi
