"" === GENERAL ===

"" set leader key to space
let mapleader = " "

"" scroll bounds
set scrolloff=10

"" searching
set hlsearch
set incsearch

"" show line numbers
set number

"" show relative line numbers
set relativenumber

"" Use system clipboard
set clipboard+=unnamed

"" === COMMANDS ===

"" hide search results
nmap <esc><esc> :nohlsearch<cr>

"" find file
map <leader>ff <action>(GotoFile)

"" find grep
map <leader>fg <action>(FindInPath)

"" find old files
map <leader><leader> <Action>(RecentFiles)

"" idea specific shortcuts
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
