packages: [
  "atom-code-syntax"
  "atom-code-ui"
  "atom-typescript"
  "busy-signal"
  "file-icons"
  "intentions"
  "linter"
  "linter-tslint"
  "linter-ui-default"
  "package-sync"
  "prettier-atom"
]
